<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;500&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/css/email-sent.css">
  <title>Email enviado</title>
</head>

<body>
  <div class="container">
    <div class="img">
      <img src="/images/check.png" alt="email enviado com sucesso">
    </div>
    <h1>Email enviado</h1>
    <div class="text">
      <p>Por favor, confira na caixa de entrado do seu email.
        Caso não ache pode ser que tenha caido no spam, confira lá também.
      </p>
    </div>
    <span>Recebeu o email? <a href="/login">entrar na conta</a></span>
  </div>
</body>

</html>