<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;500&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/css/global.css">
  <title>Recuperar senha</title>
</head>

<body>
  <div class="container">
    <form action="/reset-password" method="POST">
      <h1>Recuperar senha</h1>
      <p>Por favor, preecha esse formulário com o seu email para recuperar sua senha.</p>
      <p>Todas as instruções serão enviadas para o seu email.</p>
      <hr>

      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="example@mail.com" name="email" required>

      <button type="submit" class="signupbtn">Enviar email</button>
    </form>
  </div>
</body>

</html>