<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;500&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/css/login.css">
  <title>Cadastro</title>
</head>

<body>
  <div class="container">
    <form action="/users">
      <h1>Entrar na conta</h1>
      <p>Por favor, preecha esse formulário para entrar na sua conta.</p>
      <hr>

      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="example@mail.com" name="email" required>

      <label for="psw"><b>Senha</b></label>
      <input type="password" placeholder="Coloque a senha" name="psw" required>

      <button type="submit" class="signupbtn">Entrar</button>

      <span>Não tem uma conta? <a href="/cadastro">criar conta</a></span>
    </form>
  </div>
</body>

</html>