<style>
  .container {
    width: 800px;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
  }

  h3 {
    font: 700 26px 'Poppins', sans-serif;
  }

  p,
  label {
    text-align: center;
    font: 400 16px 'Roboto', sans-serif;
  }
</style>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;500&display=swap"
  rel="stylesheet">
<div class="container">
  <p>Ola <strong>{{name}}</strong>! Tudo bem?</p>

  <p>Recebemos uma solicitação para mudar sua senha. Você pode alterá-la através do link abaixo.</p>
  <p>
    <a href="{{link}}/{{user_id}}">Alterar minha senha</a>
  </p>
  <p>Se você não solicitou a mudança, por favor ignore este e-mail.<br>
    Sua senha não será alterada até que você acesse o link acima e crie uma nova.</p>
  <br>
  <br>
  <label>Equipe | <strong>ChatCom</strong></label>
</div>
</div>